<!DOCTYPE html>
<html>


  <form action="https://docs.google.com/forms/d/e/1FAIpQLSfMP6EbG0xmZq7D0HUWyuNjhZfDQ9iHPJg9Sd-55zPgnzbNgA/viewform?usp=sf_link" >
    <div class="item">
      <label class="label">名前</label>
      <input class="inputs"type="text"name="entry.826355120">
    </div>
  
    <div class="item">
      <label class="label">連絡先(メールアドレス）</label>
      <input class="inputs"type="email"name="entry.1149713456">
    </div>
  
    <div class="item">
      <label class="label">所属組織(学校名、会社名等)</label>
      <input class="inputs"type="text"name="entry.245385898">
    </div>

    <div class="item">
      <label class="label">お問い合わせ内容の種類</label>
      <input class="inputs"type="radio"name="entry.1290620365"value = "1">見学
      <input class="inputs"type="radio"name="entry.1290620365"value = "2">取材
      <input class="inputs"type="radio"name="entry.1290620365"value = "3">支援
      <input class="inputs"type="radio"name="entry.1290620365"value = "4">その他
    </div>

    <div class="item">
      <label class="label">お問合せ内容</label>
      <textarea class="inputs" name="entry.1217001973"></textarea>
    </div>

    <div class="btn">
      <input type="submit"value="送信">
    </div>
  </form>
</html>
</>
